export(as.dendro)
export(dendro_data)
export(dendro_data.default)
export(dendro_data.dendrogram)
export(dendro_data.hclust)
export(ggdendrogram)
export(label)
export(leaf_label)
export(segment)
export(theme_dendro)
import(ggplot2)
import(MASS)
S3method(dendro_data,rpart)
S3method(dendro_data,tree)
